<?xml version="1.0" encoding="UTF-8"?>
<config>
<server>
	<maxthreads>10</maxthreads>
	<address>172.16.140.1</address>
</server>

<radius>
	<server>
		<id>first radius server</id>
		<address>172.16.140.129</address>
		<auth-port>1812</auth-port>
		<acct-port>1813</acct-port>
		<secret>mysecret</secret>
		<retry-count>5</retry-count>
		<socket-timeout>5000</socket-timeout>
	</server>
	<server>
	  	<id>Second radius server</id>
	  	<address>172.16.140.130</address>
		<auth-port>1812</auth-port>
		<acct-port>1813</acct-port>
	  	<secret>mysercret</secret>
	  	<retry-count>5</retry-count>
	  	<socket-timeout>5000</socket-timeout>	  
	</server>
</radius>


<switch-listeners>
 <switch-listener>
 	<address>
 		172.16.140.1
 	</address>
 	<port>
 		8084
 	</port>
 	<type>
 		freeswitch
 	</type> 	
 </switch-listener>
  <switch-listener>
 	<address>
 		172.16.34.1
 	</address>
 	<port>
 		4573
 	</port>
 	<type>
 		asterisk
 	</type> 	
 </switch-listener> 
</switch-listeners>

<cli-listeners>
 <cli-listener>
  <address>172.16.140.1</address>
  <port>8055</port>
  <username>test</username>
  <password>test</password>
 </cli-listener>
</cli-listeners>

<switches>
 <switch>
 	<id>MyFreeswitch</id>
    <address>172.16.140.129</address>
  	<port>8021</port>
  	<username>admin</username>
  	<password>admin</password>
  	<type>freeswitch</type>  
  	<addresstranslator>com.admtel.telephonyserver.addresstranslators.DefaultFSAddressTranslator</addresstranslator> 	
 </switch>
 <switch>
  <id>MyAsterisk</id>
  <address>172.16.34.134</address>
  <port>5038</port>
  <username>admin</username>
  <password>voicelynx1201</password>
  <type>asterisk</type>
  <addresstranslator>com.admtel.telephonyserver.addresstranslators.DefaultASTAddressTranslator</addresstranslator>
 </switch>
</switches>

<scriptfactories>
 <scriptfactory>
  <class>com.admtel.telephonyserver.scriptfactories.VariableScriptFactory</class>
 </scriptfactory>
 <scriptfactory>
  <class>com.admtel.telephonyserver.scriptfactories.XMLScriptFactory</class>
 </scriptfactory>
</scriptfactories>



</config>