<?xml version="1.0" encoding="UTF-8"?>
<config>
<server>
	<maxthreads>10</maxthreads>
	<address>172.16.140.1</address>	
	<base-directory>/usr/local/adm</base-directory>
	<radius-start-accounting>true</radius-start-accounting>
	<radius-stop-accounting>true</radius-stop-accounting>
	<radius-interim-update>10</radius-interim-update>
</server>
<registrar>
		<enabled>true</enabled>
 		<class>com.admtel.telephonyserver.registrar.SimpleRegistrar</class>
</registrar>
<radius>
	<server>
		<id>first radius server</id>
		<address>172.16.140.129</address>
		<auth-port>1812</auth-port>
		<acct-port>1813</acct-port>
		<secret>meravoip</secret>
		<retry-count>5</retry-count>
		<socket-timeout>5000</socket-timeout>
	</server>
	<!--
	<server>
	  	<id>Second radius server</id>
	  	<address>172.16.140.130</address>
		<auth-port>1812</auth-port>
		<acct-port>1813</acct-port>
	  	<secret>meravoip</secret>
	  	<retry-count>5</retry-count>
	  	<socket-timeout>5000</socket-timeout>	  
	</server>
--></radius>


<switch-listeners>
 <switch-listener>
 	<address>
 		172.16.140.1
 	</address>
 	<port>
 		8084
 	</port>
 	<type>
 		freeswitch
 	</type> 	
 </switch-listener>
  <switch-listener>
 	<address>
 		172.16.34.1
 	</address>
 	<port>
 		4573
 	</port>
 	<type>
 		asterisk
 	</type> 	
 </switch-listener> 
</switch-listeners>

<cli-listeners>
 <cli-listener>
  <address>172.16.140.1</address>
  <port>8055</port>
  <username>test</username>
  <password>test</password>
 </cli-listener>
</cli-listeners>

<http-servers>
 <http-server>
  <id>Freeswitch Configurator</id>
  <address>172.16.140.1</address>
  <port>8057</port>
	<adm-servlet>
		<path>FSConfigurator</path> 
		<class>scripts/WSFreeSwitchConfigurator.groovy</class>
	</adm-servlet>
	<adm-servlet>
		<path>test</path> 
		<class>scripts/TestAdmServlet.groovy</class>
	</adm-servlet>	
 </http-server>
<!-- <http-server>-->
<!--  <id>Manager</id>-->
<!--  <address>172.16.140.1</address>-->
<!--  <port>8058</port>-->
<!--  <adm-servlet>scripts/HttpManager.groovy</adm-servlet>-->
<!-- </http-server>-->
</http-servers>

<switches>
<!-- <switch>-->
<!-- 	<id>MyFreeswitch</id>-->
<!--    <address>172.16.140.129</address>-->
<!--  	<port>8021</port>-->
<!--  	<username>admin</username>-->
<!--  	<password>admin</password>-->
<!--  	<type>freeswitch</type>  -->
<!--  	<addresstranslator>com.admtel.telephonyserver.addresstranslators.DefaultFSAddressTranslator</addresstranslator> 	-->
<!-- </switch>-->
 <switch>
  <id>MyAsterisk</id>
  <address>172.16.34.134</address>
  <port>5038</port>
  <username>admin</username>
  <password>voicelynx1201</password>
  <type>asterisk</type>
  <addresstranslator>com.admtel.telephonyserver.addresstranslators.DefaultASTAddressTranslator</addresstranslator>
 </switch>

</switches>

<scriptfactories>
 <scriptfactory>
  <class>scripts/AdmScriptFactory.groovy</class>
 </scriptfactory>
 <scriptfactory>
  <class>com.admtel.telephonyserver.scriptfactories.VariableScriptFactory</class>
 </scriptfactory>
 <scriptfactory>
  <class>com.admtel.telephonyserver.scriptfactories.XMLScriptFactory</class>
 </scriptfactory>
</scriptfactories>

<event-listeners>
	<event-listener>
	 <class>com.admtel.telephonyserver.eventlisteners.SimpleEventListener</class>
	</event-listener>
	<event-listener>
	 <class>scripts/MyEventListener.groovy</class>
	</event-listener>
</event-listeners>
<prompt-builders>
 <prompt-builder>
	<language>en</language>
 	<class>com.admtel.telephonyserver.prompts.EnglishPromptBuilder</class>
 </prompt-builder>
 <prompt-builder>
 	<language>ar</language>
 	<class>com.admtel.telephonyserver.prompts.ArabicPromptBuilder</class>
 </prompt-builder>
 <prompt-builder>
 	<language>fr</language>
 	<class>com.admtel.telephonyserver.prompts.FrenchPromptBuilder</class>
 </prompt-builder>
</prompt-builders>

</config>